<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">
  
</head>
<body>
    <header>
        <div class="container">
            <h1>Tramites Municipales</h1>
            <h3>Login</h3>
        </div>
    </header>

    <br><br>
    <div class="container">
        <section class="main row">
            <article class = "jumbotron col-xs-12">
             

                <div class="form-group">
                    <h3><label for="usuario"> <span class="glyphicon glyphicon-user"></span> Usuario:</label></h3> 
                    <input type="text" class="form-control" id="usuario" placeholder="Usuario"/>
                 </div>

                <div class="form-group">
                   <h3><label for="contraseña"><span class="glyphicon glyphicon-info-sign"></span> Contraseña:</label></h3> 
                    <input type="text" class="form-control" id="contraseña" placeholder="Contraseña">
                </div>

                <h1> <button class="btn btn-lg btn-block btn-primary">Login</button> </h1> 

            </article>
        </section>

        <div class="row">

            
        </div>
    </div>

    <br><br><br><br><br><br>

    <footer>
        <div class="container-fluid">
            <h4>Grupo #2</h4>
        </div>
    </footer>


    <!-- Latest compiled and minified JavaScript -->
    <script src="https://code.jquery.com/jquery-latest.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</body>
</html> 