<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">
  
</head>
<body>
    <header>
        <div class="container">
            <h1>Tramites Municipales</h1>
            <h3>Login</h3>
        </div>
    </header>
    
    <div class="container">
        <section class="main row">
            <article class = "jumbotron col-xs-12 col-sm-8 col-md-9">
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint similique quod vitae. Error debitis iusto harum animi ipsa deserunt magnam impedit cum dolor assumenda, eaque adipisci perferendis voluptate eveniet quaerat?
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium atque sapiente dicta fuga nisi officia veniam, incidunt omnis, distinctio nulla laudantium. Sapiente, dolore molestias veritatis veniam cupiditate nihil nam iusto?
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro nam molestiae magnam minima, reiciendis beatae! Iusto dolor repellat alias facilis ratione atque! Architecto minus mollitia deserunt tenetur veritatis odit! Rerum!
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos sequi placeat mollitia minus. Dicta quis iusto, quaerat accusamus facilis, cupiditate vel blanditiis quas magnam dolor dignissimos delectus et repellendus possimus?
                </p>

               <h1> <button class="btn btn-lg btn-block btn-primary">Login</button> </h1> 
               


            </article>

           
            
            <aside class="col-xs-12 col-sm-4 col-md-3">
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint similique quod vitae. Error debitis iusto harum animi ipsa deserunt magnam impedit cum dolor assumenda, eaque adipisci perferendis voluptate eveniet quaerat?
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium atque sapiente dicta fuga nisi officia veniam, incidunt omnis, distinctio nulla laudantium. Sapiente, dolore molestias veritatis veniam cupiditate nihil nam iusto?
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro nam molestiae magnam minima, reiciendis beatae! Iusto dolor repellat alias facilis ratione atque! Architecto minus mollitia deserunt tenetur veritatis odit! Rerum!
                   
                </p>
            </aside>
        </section>

        <div class="row">

            
        </div>
    </div>
   
    <footer>
        <div class="container-fluid">
            <h4>Grupo #2</h4>
        </div>
    </footer>


    <!-- Latest compiled and minified JavaScript -->
    <script src="https://code.jquery.com/jquery-latest.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</body>
</html> 